@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

body {
  -ms-overflow-style: none;
  background: url("./image_main/main_background.jpg") no-repeat;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
}
::-webkit-scrollbar {
  display: none;
}

/* font 가져옴. */
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("./image_main/font_main/NeoDunggeunmoPro-Regular.ttf")
    format("truetype");
}

/* box를 mainbox의 정가운데에 위치시켜볼 예정. 필요 없으면 제거. 1200x950 */
.mainbox {
  background: url("./image_main/background_white.png");
  width: 910px;
  height: 910px;
}
#box {
  width: 900px;
  height: 900px;
  background: url("./image_main/grass.jpg");
  position: relative;
}
#box .animalBtn {
  display: none;
}
#box .animalBtn.visible {
  /* display: block; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#box .lockImg {
  height: 45%;
  width: 13.5%;
  padding: 30px;
}
#box .lockImg.invisible {
  display: none;
}
#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}
#backdrop.visible {
  display: block;
  pointer-events: all;
}

header {
  background: url("/image_main/header_background.jpg");
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 제목이 정해졌을 때 변경이 필요한 곳. start 화면 포함. */
header #main_title {
  font-family: "NeoDunggeunmoPro-Regular";
  color: rgba(244, 252, 225, 0.952);

  font-size: 50px;
  text-shadow: 0px 5px 2px #073612;
}
header button {
  width: 30%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}
header button:active {
  top: 2px;
}
header #demend img {
  max-width: 100%;
  max-height: 100%;
  cursor: url("./image_main/mouse_cursor/money-bag.png"), auto;
}
header #menu img {
  max-width: 100%;
  max-height: 100%;
  cursor: url("./image_main/mouse_cursor/support.png"), auto;
}
.demend-modal {
  position: fixed;
  display: none;
  background: #fff;
  z-index: 100;
  top: 15%;
  left: 250px;
  border: 4px solid black;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.demend-modal.visible {
  display: block;
}
.demend-modal .modal__content {
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.demend-modal .modal__content .demend-main-img {
  width: 350px;
  right: 10px;
}
.demend-modal .modal__content .buy-btn {
  top: 30px;
  position: relative;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #a5b7c6;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/money-bag.png"), auto;
  margin: 0 0.5rem;
  width: 200px;
  height: 100px;
  font-size: 30px;
}
.demend-modal .modal__actions {
  width: 450px;
}
.demend-modal .modal__actions .out-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  left: 5px;
  top: 10px;
}
.demend-modal .modal__content .forBorder {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-content: center;
}
/* 현재자산 css */
.game-info-modal,
.how-to-paly-modal,
.menu-modal,
.sell-modal,
.market-modal {
  position: fixed;
  display: none;
  background: url("./image_main/sell_list.png");
  background-size: 100%;
  z-index: 100;
  top: 15%;
  left: 250px;
  border: 4px solid black;
  width: 400px;
  height: 560px;
  border-radius: 20px;
}

.force_item {
  display: flex;
  flex-direction: row;
}
.force_item p {
  margin-right: 20px;
}
.force_item button {
  margin-top: 15px;
}
.game-info-modal.visible,
.how-to-paly-modal.visible,
.menu-modal.visible,
.market-modal.visible,
.sell-modal.visible {
  display: block;
}
.game-info-modal .game-info_modal__content,
.how-to-paly-modal .how-to-paly_modal__content,
.menu-modal .menu_modal__content,
.market-modal .market_modal__content,
.sell-modal .sell_modal__content {
  width: 400px;
  height: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.menu-modal .menu_modal__actions,
.market-modal .market_modal__actions,
.sell-modal .sell_modal__actions {
  width: 450px;
}
.game-info-modal .game-info_modal__content,
.how-to-paly-modal .how-to-paly_modal__content,
.menu-modal.visible .menu_modal__content .forBorder,
.market-modal.visible .market_modal__content .forBorder,
.sell-modal.visible .sell_modal__content .forBorder {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20px;
}

.game-info-modal .game-info_modal__content .force_item.content,
.how-to-paly-modal .how-to-paly_modal__content .force_item.content {
  width: 320px;
  height: 450px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5em;
  overflow: auto;
}

/* [menu]와 [market & sell]버튼은 일부러 분리했습니다. */
.menu-modal.visible .menu_modal__content .asdbtn {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20px;
  border: 2px inset #ffa53f;
  background: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: url("./image_main/mouse_cursor/support.png"), auto;
}
.market-modal.visible .market_modal__content .asdbtn,
.sell-modal.visible .sell_modal__content #asd {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20px;
  border: 2px inset #ffa53f;
  background: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: url("./image_main/mouse_cursor/expense.png"), auto;
}
.menu-modal.visible .menu_modal__content .asdbtn:hover,
.sell-modal.visible .sell_modal__content #asd:hover,
.market-modal.visible .market_modal__content .asdbtn:hover {
  background: #dddddd;
}
.menu-modal.visible .menu_modal__content .asdbtn:active,
.sell-modal.visible .sell_modal__content #asd:active,
.market-modal.visible .market_modal__content .asdbtn:active {
  background: #8b8b8b;
}

.buy-fail-modal {
  position: absolute;
  z-index: 1000;
  background: white;
  width: 400px;
  height: 200px;
  top: 300px;
  left: 250px;
  border-radius: 10px;
  display: none;
}
.buy-fail-modal.visible {
  display: block;
  box-shadow: 5px 5px 5px rgb(77, 75, 75);
  font-family: "NeoDunggeunmoPro-Regular";
}
.buy-fail-modal .modal__title {
  margin: 0;
  padding: 1rem;
  border-bottom: 2px solid #a5aaa7;
  background: #4a6950;
  color: white;
  border-radius: 10px 10px 0 0;
}

.buy-fail-modal .modal__content {
  padding: 1rem;
}
.buy-fail-modal .modal__actions {
  display: flex;
  justify-content: flex-end;
}
.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 2px inset #ffc403;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}
.btn:hover,
.btn:active {
  background: #94877d;
  border-color: #441a00;
}

.ip {
  width: 30px;
  margin-right: 10px;
}

.menu-modal .menu_modal__actions .out-btn,
.market-modal .market_modal__actions .out-btn,
.sell-modal .sell_modal__actions .out-btn {
  /* font-family: "NeoDunggeunmoPro-Regular";
  font-size: 17px;
  position: relative;
  left: 300px;
  padding: 0.5rem 1.5rem;
  border: 2px outset #00329e;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  margin: 0 0.5rem; */
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  left: 50px;
  top: 50px;
}

.game-info-modal .game-info_modal__actions .out-btn,
.how-to-paly-modal .how-to-paly_modal__actions .out-btn {
  /* font-family: "NeoDunggeunmoPro-Regular";
  font-size: 17px;
  position: relative;
  top: 25px;
  padding: 0.5rem 1.5rem;
  border: 2px outset #00329e;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem; */
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  left: 50px;
  top: 50px;
}
/* .menu-modal .menu_modal__actions .out-btn:hover,
.market-modal .market_modal__actions .out-btn:hover,
.sell-modal .sell_modal__actions .out-btn:hover {
  background: #dddddd;
}
.menu-modal .menu_modal__actions .out-btn:active,
.market-modal .market_modal__actions .out-btn:active,
.sell-modal .sell_modal__actions .out-btn:active {
  background: #8b8b8b;
} */

/* .demend-modal .modal__content .forBorder {
  border: 2px solid blue;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-content: center;
} */

.mainbox #box #money,
#coin {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 30px;
  margin: 10px;
}

#line1,
#line2 {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#line1 button,
#line2 button {
  height: 30%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  cursor: url("./image_main/mouse_cursor/income.png"), auto;
}
#line1 button:active {
  top: 2px;
}
#line2 button:active {
  top: 2px;
}

/* 동물들 이미지 사이즈 조절 */
#line1 button img,
#line2 button img {
  max-width: 150%;
  max-height: 150%;
}

.item-chicken,
.item-cow,
.item-sheep,
.item-duck,
.item-goat,
.item-pig {
  opacity: 0;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  animation: fadeInAndOut 2s ease-out forwards;
  visibility: hidden; /* 텍스트 숨기기 */
}

@keyframes fadeInAndOut {
  0% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 0;
  }
}

/* footer 부분 */
.footer_main {
  background: url("./image_main/header_background.jpg");
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer_main .custom-btn {
  bottom: -15px;
  width: 30%;
  height: 110%;
  color: #fde9db;
  text-shadow: 0px 5px 2px #000;
  padding: 10px 25px;
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  outline: none;
  cursor: url("./image_main/mouse_cursor/money-bag.png"), auto;
}
.footer_main .btn-15 {
  background: url("./image_main/wood_btn.png") no-repeat;
  background-size: 100%;
  border: none;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.asd {
  position: absolute;
  bottom: 35px;
}

.footer_main .btn-15:active {
  top: -5px;
}

/* 메뉴 css 부분 */
/* 메뉴 버튼 css */
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

/* 크기 400 x 600 기준 */

.menu-header {
  height: 50px;
  display: flex;
  flex-direction: row;
}
.menu-header .title {
  /* border: 2px solid red; */
  flex: 3;
}

.menu-header span {
  /* border: 2px solid red; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main_info {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  flex: 3;
}

.main_info span {
  border: 2px solid blue;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#buy {
  background: palegoldenrod;
}

#toggle-btn {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  position: absolute;
  z-index: 1000;
  right: 10px;
  top: 130px;
}
.game-container {
  position: fixed;
  display: none;
  background: #fff;
  z-index: 100;
  top: 15%;
  left: 250px;
  border: 4px solid black;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 1.2em;
}
.game-container.visible {
  display: block;
}
.game-container .game_modal__actions .out-btn {
  /* position: absolute;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #00329e;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  margin: 0 0.5rem;
  right: 5px;
  bottom: 10px; */
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  left: 10px;
  top: 15px;
}
.slot-Machine {
  padding-left: 50px;
  padding-top: 30px;
  position: fixed;
  display: none;
  background: #fff;
  z-index: 100;
  top: 15%;
  left: 280px;
  border: 4px solid black;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}
.slot-Machine.visible {
  display: block;
}
.slot-Machine .out-line {
  width: 200px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
.slot-Machine h1 {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.slot-Machine .out-line #randomNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  border: 3px solid black;
  border-radius: 10px;
}

.slot-Machine .number-image {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 3px solid black;
}
.slot-Machine #startButton {
  height: 200px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/coin.png"), auto;
  right: 25px;
  top: 1px;
  transition: 0.001s linear;
}
.slot-Machine #startButton:active {
  transform: rotateX(-180deg);
  top: 60px;
}
.slot-Machine #startButton img {
  height: 100px;
}
.slot-Machine #outButton {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
  left: 5px;
  top: 10px;
}
/* 타자게임 css */
.pattern-char {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: white;
}
.wrong-char {
  /* background-color: #ff1d1d; */
  border: 1px solid #000;
  width: 20px;
  border-radius: 130px;
}

.game-container #timer,
#score {
  margin: 3px;
  margin-top: 10px;
  font-size: 1.2em;
}
#pattern-display {
  border-radius: 10px;
  border: 3px solid #000;
  height: 40px;
}
#message {
  height: 20px;
}

#start,
#retry {
  border: none;
  border-radius: 10px;
  background: #bdbdbd;
  width: 80px;
  height: 30px;
  font-family: "NeoDunggeunmoPro-Regular";
  font-weight: 700;
  cursor: url("./image_main/mouse_cursor/one-finger.png"), auto;
}
