@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
body {
  background: url('./image_main/main_background.jpg');
}
/* box를 mainbox의 정가운데에 위치시켜볼 예정. 필요 없으면 제거. */
.mainbox {
  background: url('./image_main/background_white.png');
  width: 1200px;
  height: 950px;
}
#box {
  width: 900px;
  height: 900px;
  background: url('./image_main/grass.jpg');
  position: relative;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

header {
  background: url('/image_main/header_background.jpg');
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 제목이 정해졌을 때 변경이 필요한 곳. start 화면 포함. */
header #main_title {
    font-family: 'Bagel Fat One', cursive;
    color: rgba(220, 250, 149, 0.952);
    font-size: 50px;
    text-shadow: 0px 5px 0px #25502e;
}
header button {
  width: 30%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}
header button:active {
  top: 2px;
}
header #demend img{
  max-width: 100%;
  max-height: 100%;
}
header #request img {
  max-width: 100%;
  max-height: 100%;
}
.demend-modal {
  width: 450px;
  height: 780px;
  top: 125px;
  background: rgb(0, 0, 255);
  position: fixed;
  z-index: 100;
  display: none;
}
.demend-modal.visible {
  display: block;
}
.demend-modal .modal__content {
  width: 450px;
  height: 90%;
}
.demend-modal .modal__actions {
  width: 450px;
}
.demend-modal .modal__actions .out-btn {
  position: relative;
  left: 350px;
  padding: 0.5rem 1.5rem;
  border: 1px solid #00329e;
  background: #a21649;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}
#line1,
#line2 {
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#line1 button,
#line2 button {
  height: 30%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
}
#line1 button:active {
  top: 2px;
}
#line2 button:active {
  top: 2px;
}


/* 동물들 이미지 사이즈 조절 */
#line1 button img,
#line2 button img {
  max-width: 150%;
  max-height: 150%;
}

.item-text {
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-50%); /* 텍스트를 버튼 중앙으로 위치시키고 위로 50%만큼 이동 */
  transition: opacity 0.3s ease; /* fade-in 효과를 위한 transition 추가 */
}

footer {
  background: violet;
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
}
