@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
        body {
            background: url("./image_start/farm_background.jpg");
        }
        #wrapper{
            width: 1500px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background: url("./image_start/background_milk.png");
        }
    
        #title{
            width:fit-content;
            margin:auto;
            font-size: 80px;
            font-family: 'Bagel Fat One', cursive;
            text-shadow: 0px 5px 0px #b2ffc3;
            color: #010e53;
        }
    
        img.startbtn{
            margin:auto;
            margin-bottom: 10px;
            display:block;
        }

        img.farmer {
            width: 1000px;
            height: 580px;
            margin-bottom: 5px;
        }