@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    background: url("./image_start/farm_background.jpg");
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    position: absolute;
    background: url("./image_start/background_milk.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    padding-top: 30px;
}

#box {
    position: relative;
}

#title {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-family: 'Ramche';
    font-size: 3rem;
    text-shadow: 5px 5px 0px #b2ffc3;
    color: #010e53;
}

#farm {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.startbtn {
    margin: 10px;
}
